<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/header') %>
</head>

<body>
  <!-- Sidebar -->
  <%- include('../partials/sidebar'); %>
    <div class="main-content" id="panel">
      <!-- Navbar -->
      <%- include('../partials/navbar'); %>
        <!-- Main content -->
        <div class="header bg-primary pb-6">
          <!-- Upper nav , Stats -->
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center py-4">
                <!-- Upper Nav -->
                <div class="col-lg-6 col-7">
                  <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                  <!-- Upper Nav -->
                  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page"><a href= "/authors">Authors</a></li>
                    </ol>
                  </nav>
                </div>
                <div class="col-lg-6 text-right">
                  <form method="post" action="/">
                    <button type="submit" class="btn btn-lg btn-neutral text-dark">Add Author</button>
                  </form>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                          <h3 class="mb-0">Authors Data</h3>
                        </div>

                        <!-- Light table -->
                        <div class="table-responsive p-2">
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" class="sort" data-sort="name">Name</th>
                                <th scope="col" class="sort" data-sort="budget">E-mail</th>
                                <th scope="col" class="sort" data-sort="status">Mobile number</th>
                                <th scope="col">Designation</th>
                                <th scope="col">College</th>
                                <th scope="col">State</th>
                                <th scope="col" class="sort" data-sort="completion">District</th>
                                <th scope="col">Taluka</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                              </tr>
                            </thead>
                            <tbody class="list">
                              <% if (data.length){ var i=1 ; data.forEach(function(data){ %>
                                <tr>
                                  <td class="budget">
                                    <%= data.author_name %>
                                  </td>
                                  <td class="budget">
                                    <%= data.author_email %>
                                  </td>
                                  <td class="budget">
                                    <%= data.author_mobile %>
                                  </td>
                                  <td class="budget">
                                    <%= data.author_designation %>
                                  </td>
                                  <td class="budget">
                                    <%= data.college_name %>
                                  </td>
                                  <td class="budget">
                                    <%= data.state_title %>
                                  </td>
                                  <td class="budget">
                                    <%= data.district_title %>
                                  </td>
                                  <td class="budget">
                                    <%= data.name %>
                                  </td>
                                  
                                  <td class="edit">
                                    <button type="button" class="btn  btn-sm" data-toggle="modal"
                                      data-target="#examplemodal-edit-<%= data.author_id %>"><i class="fa fa-edit"
                                        style="color : #172b4d"></i></button>
                                  </td>
                                  <td class="delete">
                                    <a class="btn btn-sm" href = "/students/delete/<%= data.student_id %>"><i class="fa fa-trash"
                                        style="color : #172b4d"></i></a>
                                  </td>
                                </tr>
                                <!-- Edit modal -->
                                <div class="modal fade" id="examplemodal-edit-<%= data.author_id %>" tabindex="-1"
                                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Edit Author data</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
  
                                        <form role="form" action="/authors/edit" method="POST">
  
                                          <div class="modal-body">
  
                                            <div class="row">
                                              <input hidden type="text" class="form-control" placeholder="name"
                                                name="author_id" value="<%= data.author_id %>">
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">Name</label>
                                                
                                                <input type="text" class="form-control" placeholder="ID"
                                                  name="author_name" value="<%= data.author_name %>">
                                              </div>
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">Email</label>
                                                <input type="text" class="form-control" placeholder="Email"
                                                  name="author_email" value="<%= data.author_email %>">
                                              </div>
                                            </div>
  
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">Phone number</label>
                                                <input type="text" class="form-control" placeholder="College Name"
                                                  name="author_mobile" value="<%= data.author_mobile %>">
                                              </div>
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">College</label>
                                                <select class="form-control" data-toggle="select" title="Simple select"
                                                  name="college_id" data-placeholder="Select a state">
                                                  <% colleges.forEach(function(c) { %>
                                                    <option value="<%= c.college_id %>">
                                                      <%= c.college_name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                              </div>
                                            </div>
  
                                            <div class="row">
  
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">Designation</label>
                                                <input type="text" class="form-control" placeholder="Designation"
                                                  name="author_designation" value="<%= data.author_designation %>">
                                              </div>
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">State</label>
                                                <select class="form-control" data-toggle="select" title="Simple select"
                                                  name="state_id" data-placeholder="Select a course">
                                                  <% states.forEach(function(s) { %>
                                                    <option value="<%= s.state_id %>">
                                                      <%= s.state_title %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                              </div>
  
                                            </div>
  
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">District</label>
                                                <select class="form-control" data-toggle="select" title="Simple select"
                                                  name="district_id" data-placeholder="Select a state">
                                                  <% districts.forEach(function(d) { %>
                                                    <option value="<%= d.districtid %>">
                                                      <%= d.district_title %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                              </div>
                                              <div class="col-lg-6">
                                                <label class="form-control-label" for="input-email">Taluka</label>
                                                <select class="form-control" data-toggle="select" title="Simple select"
                                                  name="taluka_id" data-placeholder="Select a taluka">
                                                  <% cities.forEach(function(c) { %>
                                                    <option value="<%= c.id %>">
                                                      <%= c.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                              </div>
                                            </div>

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                              data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>

                                <!-- DELETE modal -->
                               
                                <% }) %>


                                <% } %>
                            </tbody>
                          </table>
                        </div>

                        <!-- Card footer -->
                        <div class="card-footer py-4">
                          <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                  <i class="fas fa-angle-left"></i>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">
                                  <i class="fas fa-angle-right"></i>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


    </div>
    <!-- Modals -->

    <!-- Scripts -->
    <%- include('../partials/scripts'); %>
</body>

</html>